body{
    background-color: #133E87;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* taşmayı tamamen engellemek için */

}
h1{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 80px; 
    color: azure;
}
#popup{
    position: absolute;
    top:15%;
    left:40%;
    height: 200px;
    width:300px;
    background-color: darkkhaki;
    z-index: 2;
    visibility: hidden;
}
#popupanswer{
    font-size: 30px;
    margin-top: 50px;
    margin-left:45px;
    margin-bottom: 60px;
}
#popupbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.popupbutton{
    height: 20px;
    width:100px;
    background-color: bisque;
    text-align: center;
    outline: 3px solid #292929;
    transition: transform 0.1s ease;
}
.popupbutton:hover{
    opacity: 0.8;
}
.popupbutton:active{
    transform: scale(1.1);
}
#myDiv{
    width: 100vw;
    position: relative;
    margin: 0 auto;
}
#myDiv > div {
    
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.ans{
    font-size: 50px;
    border: none;
    background-color: #292929;
    text-transform: uppercase;
    margin: 4px;
    display: inline-block; 
    zoom: 1; 
    vertical-align: top;
    width: 70px;
    height: 60px;
    caret-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:aliceblue;
    outline: none;
    
}  
.ans input{
transition: transform 0.2s ease;
}

.ans input.animate {
  transform: scale(1.1);
}

.btn{
    position: relative;
    left:48%;
    background-color: darkred;
    color: azure;
    margin-top: 0px;
    height: 50px;
    width: 90px;
    transition: transform 0.5s ease;
} 
.btn:hover{
    opacity: 0.8;
}
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  user-select: none;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.key {
  width: 45px;
  height: 60px;
  margin: 2px;
  background-color: #282828;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  transition: transform 0.1s, background-color 0.2s;
}

.key:hover {
  transform: scale(1.05);
}

.key:active {
  transform: scale(0.95);
}